.chat-date-separator {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 8px;
  padding: 12px 0;
  color: var(--border-color);
  font-size: 12px;
  line-height: 1;

  &__line {
    flex: 1;
    height: 1px;
    background-color: var(--border-color);
  }
}
