<section class="auth-page">
  <h1>{{title}}</h1>

  {{> Form 
      id=form.id
      fields=form.fields
      button=form.button
  }}

  {{> Link 
      text=link.text
      class="link"
      data-page=link.to
  }}
</section>
