.chat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 12px 10px;
  border-top: 1px solid var(--border-color);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover:not(.chat_active) {
    background-color: var(--bg-color-200);
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    transition: color 0.3s ease-in-out;
  }

  &__time {
    font-size: 12px;
    line-height: 1;
    color: var(--placeholder-color);
    transition: color 0.3s ease-in-out;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__preview {
    display: -webkit-box;
    width: 14vw;
    max-width: 280px;
    height: 32px;
    margin: 0;
    color: var(--placeholder-color);
    font-size: 14px;
    vertical-align: top;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    transition: color 0.3s ease-in-out;
  }

  &__unread {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--text-color-white);
    font-size: 12px;
    line-height: 1;
    transition: 0.3s ease-in-out;
    transition-property: background-color, color;
  }

  &_active {
    background-color: var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
    }
  }

  &_active .chat__title,
  &_active .chat__preview,
  &_active .chat__time {
    color: var(--text-color-white);
  }

  &_active .chat__unread {
    background-color: var(--text-color-white);
    color: var(--primary-color);
  }
}
