.button {
  padding: 8px 16px;
  background-color: #3369f3;
  background-image: url('@assets/images/icons/clip.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-family: 'Inter';
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #3869c3;
  }
}