.button {
  padding: 8px 16px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  color: var(--text-color-white);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: 0.3s ease-in-out;
  transition-property: background-color, border, color;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-primary-color);
  }

  &:disabled {
    border: 1px solid var(--bg-color-100);
    background-color: var(--bg-color-100);
    color: var(--placeholder-color);
  }

  &_fullWidth {
    width: 100%;
  }

  &_variant_secondary {
    padding: 0;
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--primary-color);

    &:hover {
      background-color: transparent;
      color: var(--hover-primary-color);
    }
  }

  &_variant_outlined {
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    &:hover {
      color: var(--hover-primary-color);
      background-color: transparent;
      border: 1px solid var(--hover-primary-color);
    }
  }

  &_variant_primary-icon {
    width: 28px;
    height: 28px;
    padding: 0;
    background: center / 16px no-repeat;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 50%;
  }

  &_variant_icon {
    width: 20px;
    height: 20px;
    padding: 0;
    background: center / contain no-repeat;
    background-color: transparent;
    border: 0;
    border-radius: initial;

    &:hover {
      background-color: transparent;
    }
  }

  &_size_m {
    width: 32px;
    height: 32px;
  }

  &_icon_arrow {
    background-image: url('@assets/images/icons/arrow.svg');
  }

  &_icon_back {
    transform: rotateZ(180deg);
    background-image: url('@assets/images/icons/arrow.svg');
  }

  &_icon_options {
    background-image: url('@assets/images/icons/options.svg');
  }

  &_icon_clip {
    background-image: url('@assets/images/icons/clip.svg');
  }

  &_color_danger {
    color: var(--error-color);

    &:hover {
      color: var(--hover-error-color);
    }
  }
}
