.button {
  width: 100%;
  padding: 8px 16px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--hover-primary-color);
  }
}