<section class="chats-page__sidebar">
  {{> Link 
    text="Профиль"
    class="link link_type_chevron chats-page__link"
    data-page="profile"
  }}

  {{> Field
    id="chats-page-search"
    inputType="text"
    fieldType="search"
    name="search"
    placeholder="Поиск"
    maxlength=100
  }}

  <ul class="chats-page__chats">
    {{#each sidebar.chats}}
      <li>{{> Chat chat=this activeChatId=../sidebar.activeChatId}}</li>
    {{/each}}
  </ul>
</section>