.info-field {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 0 0 10px;
  margin: 0;
  border-bottom: 1px solid var(--border-color);

  &__label {
    margin: 0;
    text-align: start;
    font-size: 16px;
    line-height: 1;
  }

  &__value {
    flex: 1;
    margin: 0;
    color: var(--placeholder-color);
    text-align: end;
    font-size: 16px;
    line-height: 1;
  }
}
