.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4vh;
  width: 100%;

  &__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 14px;
    margin: 0;
    padding: 0;
    border: 0;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;

    &_type_wide {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0;

      .form__label {
        width: 50%;
        border-bottom: 1px solid var(--border-color);
        color: var(--text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
      }

      .form__input {
        width: 50%;
        padding: 0 0 10px;
        margin: 0;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid var(--border-color);
        color: var(--placeholder-color);
        text-align: right;
        font-size: 16px;
        line-height: 1;
        box-sizing: border-box;
        outline: none;
      }
    }

    &_type_search {
      position: relative;

      .form__input {
        padding: 10px 0 10px 32px;
      }

      .form__input-icon_search {
        width: 16px;
        height: 16px;
        background-image: url('@assets/images/icons/search.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 12px;
        left: 12px;
        pointer-events: none;
      }
    }

    &_error {
      .form__input {
        border-bottom: 1px solid var(--error-color);
      }
    }
  }

  &__label {
    align-self: flex-start;
    margin: 0;
    color: var(--placeholder-color);
    font-size: 12px;
    line-height: 1;
    position: relative;

    &_required::after {
      content: '*';
      color: var(--error-color);
      font-weight: 400;
      font-size: 10px;
      line-height: 1;
      position: absolute;
      right: -6px;
      top: -2px;
    }
  }

  &__input {
    width: 100%;
    padding: 5px 0 7px 4px;
    margin: 0 0 5px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--primary-color);
    font-size: 16px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    transition:
      border-bottom,
      0.3s ease-in-out;

    &::placeholder {
      color: var(--placeholder-color);
      font-family: inherit;
    }
  }

  &__input-error {
    width: 100%;
    color: var(--error-color);
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
  }
}
