<form id="{{id}}" action="#" class="form" autocomplete="off">
  <fieldset class="form__fieldset">
    {{#each fields}}
      {{> Field
          id=id
          name=name
          value=value
          inputType=inputType
          fieldType=fieldType
          placeholder=placeholder
          required=required
          minlength=minlength
          maxlength=maxlength
      }}
    {{/each}}
  </fieldset>

  <div class="form__actions">
    {{> Button id=button.id type=button.type text=button.text onClick=button.onClick }}
  </div>
</form>