:root {
  --primary-color: #3369f3;
  --hover-primary-color: #6e99fc;
  --secondary-color: #2c3e50;
  --border-color: #eaeaea;
  --text-color: #1e1e1e;
  --text-color-white: #ffffff;
  --placeholder-color: #999999;
  --error-color: #ff2f2f;
  --success-color: #2ecc71;
  --hover-error-color: #ff6060;
  --bg-color: #fbfbfb;
  --bg-color-100: #efefef;
}

body {
  height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  color: var(--text-color);
  margin: 0 auto;
}

#app {
  height: 100%;
}

* {
  box-sizing: border-box;
}
