<section class="chats-page">
  <header class="chats-page__header">
    {{> Avatar 
          isEmpty=header.avatar.isEmpty
          isEditable=header.avatar.isEditable
          size=header.avatar.size
          src=header.avatar.src
          alt=header.avatar.alt
          name=header.avatar.name
      }}

    {{> Button id="chats-page-header-options" type="button" variant="icon" icon="options" }}
  </header>

  <article class="chats-page__feed">Выберите чат, чтобы отправить сообщение</article>
  
  <footer class="chats-page__message-control">
    {{> Button id="chats-page-control-clip" type="button" variant="icon" icon="clip" size="m" }}
    {{> TextArea
      id="chats-page-message-textarea"
      name="message"
      placeholder="Сообщение"
      rows=1
      maxlength=1500
      maxRows=6
    }}
    {{> Button id="chats-page-control-send" type="button" variant="primary-icon" icon="arrow" }}
  </footer>
</section>
