.chats-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin: 10px 20px;
    border-bottom: 1px solid var(--border-color);
  }

  &__feed {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    color: var(--placeholder-color);
    font-size: 12px;
    line-height: 1;
  }

  &__message-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    margin: 0 20px;
    border-top: 1px solid var(--border-color);

    .button {
      flex-shrink: 0;
    }
  }
}
