.page-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &_format_sidebar {
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
  }

  &__sidebar {
    display: flex;
    background-color: var(--bg-color);
    border-right: 1px solid var(--border-color);
  }

  &__common-sidebar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    max-width: 96px;
  }

  &__content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &_format_sidebar {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
    }
  }
}