.popover {
  position: relative;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  transition-property: opacity, visibility;

  &_opened {
    opacity: 1;
    visibility: visible;
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background-color: transparent;
    backdrop-filter: blur(2px);
    z-index: 999;
  }

  &__content {
    background-color: var(--bg-color);
    border-radius: 12px;
    box-shadow: 0 10px 40px rgb(0 0 0 / 0.15);
    padding: 12px;
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 100%;
  }
}
