<section class="error-layout">
  <article class="error-layout__content">
    <p class="error-layout__code">{{code}}</p>
    <p class="error-layout__description">{{description}}</p>

    {{> Link class="link" text="Назад к чатам" data-page="chats"}}
  </article>
</section>