.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  padding: 2px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  color: inherit;
  line-height: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &_type_add {
    background-image: url('@assets/images/icons/add.svg');
  }

  &_type_cross {
    background-image: url('@assets/images/icons/cross.svg');
  }

  &_type_trash {
    background-image: url('@assets/images/icons/trash.svg');
  }

  &_color_danger {
    border: 1px solid var(--error-color);
  }

  &_color_primary {
    border: 1px solid var(--primary-color);
  }
}
