.chats-page {
  &__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 14px;
    width: 24vw;
    max-width: 465px;
    padding-top: 20px;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    #add-chat-button {
      align-self: flex-start;
      margin: 0 15px;
      max-width: 300px;
    }
  }

  &__link {
    align-self: flex-end;
    padding-right: 15px;
    margin-bottom: 10px;
  }

  &__chats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__chats-stub {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 15px;
    color: var(--placeholder-color);
    font-size: 12px;
    line-height: 1;
  }
}
