<article class="profile-page">
  <header class="profile-page__avatar">
    <div class="profile-page__image-container{{#if avatar.isEmpty}} profile-page__image-container_empty{{/if}}">
      {{> Image src=avatar.src alt=avatar.alt variant="round" size=avatar.size }}
    </div>
    <p class="profile-page__name">{{info.first_name}}</p>
  </header>

  <ul class="profile-page__info">
    <li>{{> InfoField label="Почта" value=info.email }}</li>
    <li>{{> InfoField label="Логин" value=info.login }}</li>
    <li>{{> InfoField label="Имя" value=info.first_name }}</li>
    <li>{{> InfoField label="Фамилия" value=info.second_name }}</li>
    <li>{{> InfoField label="Имя в чате" value=info.login_chat }}</li>
    <li>{{> InfoField label="Телефон" value=info.phone }}</li>
  </ul>

  <ul class="profile-page__actions">
    <li class="profile-page__action">
      {{> Button id="profile-edit-button" type="button" text="Редактировать" variant="secondary" }}
    </li>
    <li class="profile-page__action">
      {{> Button id="profile-password-edit-button" type="button" text="Изменить пароль" variant="secondary" }}
    </li>
    <li class="profile-page__action">
      {{> Button id="profile-logout-button" type="button" text="Выйти" variant="secondary" color="danger" }}
    </li>
  </ul>
</article>