.user-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__status {
    color: var(--success-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
  }
}
