<label class="form__field{{#if (eq fieldType "wide")}} form__field_type_wide{{/if}}">
  <p class="form__label">{{label}}</p>
  {{> Input 
    id=id
    type=inputType
    name=name
    value=value
    placeholder=placeholder
    required=required
    minlength=minlength
    maxlength=maxlength
  }}

  <span class="form__input-error"></span>
</label>
