.chat-feed {
  display: flex;

  &_active {
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    gap: 12px;
    min-height: 100%;
    padding-bottom: 12px;
  }

  &_empty {
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 0;
  }
}
