.link {
  color: var(--primary-color);
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &_type_chevron {
    color: var(--placeholder-color);
    font-size: 14px;
    line-height: 1;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      width: 12px;
      height: 12px;
      background: center / contain no-repeat url('@assets/images/icons/chevron.svg');
      position: absolute;
      top: 2px;
      right: 0;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}
